<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Task</title>
  </head>
  <body>
    <header>
      <h1>Book Component By Function</h1>
    </header>
    <main>
      <div>
        <div>
          <div>
            <p>class 49/3</p>
          </div>

          <p>
            "When you strive to comprehend your code, you create better work and
            become better at what you do. The code isn't just your job anymore,
            it's your craft. This is why I love Up & Going"
          </p>
          <p>-JENN LUKAS, Frontend consultant</p>
          <p>Kyle Simpson book</p>
        </div>
        <div class="d4">
          SCOPE &<br />
          CLOSURES
        </div>
        <div class="d5">JS</div>
      </div>
      <p class="p5">By Kyle Simpson</p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat eos
        obcaecati nam sapiente maxime perferendis reprehenderit consequuntur, ad
        doloremque illum!
      </p>
    </main>
    <footer>&copy;(2025) Arwad Rahal && Ayman Zeed</footer>
  </body>
</html>
